/*
 * Copyright 2014 starterkit.ru
 *
 * The code contained herein is licensed under the GNU General Public
 * License V2.
 */

/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-hola.dtsi"

/ {
	model = "Starterkit i.MX6 Solo Hola-PC Board with FPGA Extension Board";
	compatible = "sk,imx6dl-hola", "fsl,imx6dl-sabresd", "fsl,imx6dl";

	memory {
		reg = <0x10000000 0x20000000>;
	};
};

&ecspi4 { /* spi1 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi4_hola>;
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio3 20 0>;
	status = "okay";

	spi@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};
};

&ecspi1 { /* spi2 */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1_hola>;
	fsl,spi-num-chipselects = <2>;
	cs-gpios = <&gpio5 25 0>, <&gpio5 9 0>;
	status = "okay";

	spi@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <1000000>;
	};

	spi@1 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <1000000>;
	};
};

&mxcfb1 {
	status = "okay";
};
